.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #141414;
  color: aliceblue;
  height: 20px;
  &__logo {
    & > img {
      width: 130px;
    }
  }
  &__search-form{
    display: flex;
    & > input {
        width: 60%;
        background-color: #141414;
        color: white;
        border: none;
        background-color: transparent;
        
    }
    & > button {
        width: 130px;
        background-color: #141414;
        color: white;
        border: none;
        cursor: pointer;
    }
  }
  
}

